/* MovieGrid.css */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensures exactly 3 items per row */
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: none; /* Hide scrollbars in Firefox */
}

.movie-grid::-webkit-scrollbar {
  display: none; /* Hide scrollbars in Chrome, Safari, and Edge */
}

.loading-indicator {
  text-align: center;
  font-size: 14px;
  padding: 10px;
}
